<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <input class="form-control" type="text" [(ngModel)]="message.content">    
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                
                <article class="panel panel-default">
                    <div class="panel-body">
                        {{message.content}}
                    </div>
                    <footer class="panel-footer">
                        <div class="author">
                            {{message.author}}
                        </div>
                        <div class="config">
                            <a href="#">Edit</a>
                            <a href="#">Delete</a>
                        </div>
                    </footer>
                </article>
            </div>
        </div>
    </div>
</div>
